{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the about</h1>
      <p>This came from template: {{index .StringMap "test"}}</p>

      <p>
        {{if ne (index .StringMap "remote_ip") ""}}
        Your remote IP addess is {{index .StringMap "remote_ip"}}
        {{else}}
        I dont know your address yet. Visit the <a href="/">Home page</a> so i
        can set it.
        {{ end }}
      </p>
    </div>
  </div>
</div>
{{ end }}
